In [29]:
!pip install pydot

Collecting pydot
  Downloading pydot-1.4.2-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: pyparsing>=2.1.4 in /Users/uli/opt/anaconda3/lib/python3.9/site-packages (from pydot) (3.0.9)
Installing collected packages: pydot
Successfully installed pydot-1.4.2

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

In [30]:
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Needed for decision tree visualization
from IPython.display import Image
import pydot
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import hvplot.pandas
from pathlib import Path
from sklearn.linear_model import LinearRegression

In [31]:
#Data- From Kaggle 
# URL = https://www.kaggle.com/datasets/mishra5001/credit-card

In [32]:
# from google.colab import files
# uploaded = files.upload()

## Read the ata.csv data from the Resources folder into a Pandas DataFrame.

In [69]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
               
file_path = Path("Resources/project_2_data.csv")
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY
0,0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5
2,2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0
3,3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5
4,4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5

In [34]:
for colm in df.columns:
  print(colm)

Unnamed: 0
SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          307511 non-null  int64
 1   SK_ID_CURR          307511 non-null  int64
 2   TARGET              307511 non-null  int64
 3   NAME_CONTRACT_TYPE  307511 non-null  object
 4   CODE_GENDER         307511 non-null  object
 5   FLAG_OWN_CAR        307511 non-null  object
 6   FLAG_OWN_REALTY     307511 non-null  object
 7   CNT_CHILDREN        307511 non-null  int64
 8   AMT_INCOME_TOTAL    307511 non-null  float64
 9   AMT_CREDIT          307511 non-null  float64
 10  AMT_ANNUITY         307499 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 25.8+ MB

In [36]:
# Create a list of categorical variables 
categorical_variables = list(df.dtypes[df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']

## Encode the Categorial Data using One hot Encoder

In [37]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(sparse=False)

In [38]:
encoded_data = enc.fit_transform(df[categorical_variables])

encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

encoded_df.tail()

#categorical_variables = pd.DataFrame(
#    df[categorical_variables]
#)

#categorical_variables = pd.get_dummies(categorical_variables)

#categorical_variables.head()

,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,CODE_GENDER_XNA,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y
307506,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
307507,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
307508,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
307509,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
307510,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [39]:
numerical_variables_df = df.drop(columns = categorical_variables)

numerical_variables_df

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY
0,0,100002,1,0,202500.0,406597.5,24700.5
1,1,100003,0,0,270000.0,1293502.5,35698.5
2,2,100004,0,0,67500.0,135000.0,6750.0
3,3,100006,0,0,135000.0,312682.5,29686.5
4,4,100007,0,0,121500.0,513000.0,21865.5
...,...,...,...,...,...,...,...
307506,307506,456251,0,0,157500.0,254700.0,27558.0
307507,307507,456252,0,0,72000.0,269550.0,12001.5
307508,307508,456253,0,0,153000.0,677664.0,29979.0
307509,307509,456254,1,0,171000.0,370107.0,20205.0
307510,307510,456255,0,0,157500.0,675000.0,49117.5

Use Concat Function to combine both encoded data to numerical features.

In [40]:
combined_df = pd.concat([numerical_variables_df,encoded_df], axis=1).dropna()

In [41]:
# View the Data Frame

combined_df.tail()

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,CODE_GENDER_XNA,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y
307506,307506,456251,0,0,157500.0,254700.0,27558.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
307507,307507,456252,0,0,72000.0,269550.0,12001.5,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
307508,307508,456253,0,0,153000.0,677664.0,29979.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
307509,307509,456254,1,0,171000.0,370107.0,20205.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
307510,307510,456255,0,0,157500.0,675000.0,49117.5,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

## Create the labels set (y) from the column, and then create the features (X) DataFrame from the remaining columns.

In [42]:
# Separate the data into labels and features



# Separate the y variable, the labels
y = combined_df['TARGET']
# Separate the X variable, the features
X = combined_df.drop(columns=['TARGET','Unnamed: 0', 'SK_ID_CURR'])

In [43]:
# Review the y variable Series
y[:5]

0    1
1    0
2    0
3    0
4    0
Name: TARGET, dtype: int64

In [44]:
# Review the X variable DataFrame
X.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,CODE_GENDER_XNA,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y
0,0,202500.0,406597.5,24700.5,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1,0,270000.0,1293502.5,35698.5,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0,67500.0,135000.0,6750.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,0,135000.0,312682.5,29686.5,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0,121500.0,513000.0,21865.5,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

## Check the balance of the labels variable (y) by using the value_counts function.

In [45]:
# Check the balance of our target values
y.value_counts(normalize=True)

0    0.919268
1    0.080732
Name: TARGET, dtype: float64

## Split the data into training and testing datasets by using train_test_split.

In [46]:
# Split the data using train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

##Run Bae Model With unbalanced Data

## Answer the following question.
Question: How well does the logistic regression model predict y labels?

Answer: The model is able to identify all healthy loans that are indeed healthy. However , the model may predict a loan as healthy incorrectly due to precision being at 92%. 

The model was not able to identify information about ' Likey To default Loans'

## Create a Logistic Regression Model with the Original Data

Fit a logistic regression model by using the training data (X_train and y_train).

In [47]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model

logistic_regression_model = LogisticRegression(random_state=1)
# Fit the model using training data

lr_model = logistic_regression_model.fit(X_train, y_train)

In [48]:

# Make a prediction using the testing data
y_pred = lr_model.predict(X_test)

##Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [49]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

# Print the balanced_accuracy score of the model
score = balanced_accuracy_score(y_test, y_pred)

print(f'The accuracy score for the prediciton is :', score*100)

The accuracy score for the prediciton is : 50.0

In [50]:

# Generate a confusion matrix for the model
confusion_matrix(y_test, y_pred)

array([[70692,     0],
       [ 6183,     0]])

In [51]:

# Print the classification report for the model

print(f"Classifiction Report - Original Data ")


target_names = ['Healthy Loans', 'Likey to Default Loans']

print(classification_report(y_test, y_pred, target_names=target_names))

Classifiction Report - Original Data
                        precision    recall  f1-score   support

         Healthy Loans       0.92      1.00      0.96     70692
Likey to Default Loans       0.00      0.00      0.00      6183

              accuracy                           0.92     76875
             macro avg       0.46      0.50      0.48     76875
          weighted avg       0.85      0.92      0.88     76875

/Users/uli/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/uli/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/uli/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

##  Run the Logistic Regression Model with Resampled Training Data

Use the RandomOverSampler

In [54]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
ros= RandomOverSampler(random_state=1)
# Fit the original training data to the random_oversampler model

X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

ModuleNotFoundError: No module named 'imblearn'

In [47]:
# Count the distinct values of the resampled labels data
y_resampled.value_counts()

0    211982
1    211982
Name: TARGET, dtype: int64

## Use the LogisticRegression classifier and the resampled data to fit the model and make predictions.

In [48]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
ros_logistic_regression_model = LogisticRegression(random_state=1)

# Fit the model using the resampled training data
ros_lr_model = ros_logistic_regression_model.fit(X_resampled, y_resampled)
# Make a prediction using the testing data

y_resampled_pred = ros_lr_model.predict(X_test)

## Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [49]:
# Print the balanced_accuracy score of the model 
resampled_score = balanced_accuracy_score(y_test, y_resampled_pred)

print(f'The accuracy score for the prediciton is :', resampled_score*100)

The accuracy score for the prediciton is : 51.56840316479882

In [50]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, y_resampled_pred)

array([[34688, 36004],
       [ 2840,  3343]])

In [51]:
# Print the classification report for the model
from sklearn.metrics import classification_report

print(f"Classifiction Report - Redsampled Data - RandomOverSampler")

print(classification_report(y_test, y_resampled_pred, target_names=target_names))

Classifiction Report - Redsampled Data - RandomOverSampler
                        precision    recall  f1-score   support

         Healthy Loans       0.92      0.49      0.64     70692
Likey to Default Loans       0.08      0.54      0.15      6183

              accuracy                           0.49     76875
             macro avg       0.50      0.52      0.39     76875
          weighted avg       0.86      0.49      0.60     76875

## Answer the following question.
Question: How does balanced data changed the models preformance ? 

Answer: <ANSWER>

--------------------------------------

### Model 2
### Decision Tree Model

In [52]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [56]:
!pip install pydotplus

Collecting pydotplus
  Downloading pydotplus-2.0.2.tar.gz (278 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 278.7/278.7 kB 3.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pyparsing>=2.0.1 in /Users/uli/opt/anaconda3/lib/python3.9/site-packages (from pydotplus) (3.0.9)
Building wheels for collected packages: pydotplus
  Building wheel for pydotplus (setup.py) ... done
  Created wheel for pydotplus: filename=pydotplus-2.0.2-py3-none-any.whl size=24554 sha256=e3a5a7a9f4589b6e297084e973f69641d62ec9abe487e01470d5924ec30e97b0
  Stored in directory: /Users/uli/Library/Caches/pip/wheels/89/e5/de/6966007cf223872eedfbebbe0e074534e72e9128c8fd4b55eb
Successfully built pydotplus
Installing collected packages: pydotplus
Successfully installed pydotplus-2.0.2

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

In [57]:
# Needed for decision tree visualization
import pydotplus
from IPython.display import Image
from sklearn.metrics import classification_report
from sklearn import tree

In [58]:
model = tree.DecisionTreeClassifier()

In [59]:
model = model.fit(X_train_scaled, y_train)

In [60]:
model = model.fit(X_train_scaled, y_train)

In [61]:
predictions = model.predict(X_test_scaled)

In [62]:
# Create DOT data
dot_data = tree.export_graphviz(
    model, out_file=None, feature_names=X.columns, class_names=["0", "1"], filled=True
)

In [63]:
# For the pydotplus error, try playing with the dpi:
graph = pydotplus.graph_from_dot_data(dot_data)
# Image(graph.create_png(), dpi=300)

KeyboardInterrupt

In [ ]:
#Image(graph.create_png(), dpi=300)

In [65]:
from io import StringIO

In [66]:
dot_data = StringIO()
tree.export_graphviz(model, out_file=dot_data, feature_names=X.columns)
graph = pydot.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

AttributeError: 'list' object has no attribute 'create_png'


------------------------------

### Model 3

## Predict a RandomForestClassifier Model with Resampled Training Data

Use the SMOTE over sampling

In [32]:
# Import SMOTE from imblearn
from imblearn.over_sampling import SMOTE

# Instantiate the SMOTE model instance
smote_sampler = SMOTE(random_state=1, sampling_strategy='auto')

# Fit the SMOTE model to the training data
X_resampled, y_resampled = smote_sampler.fit_resample(X_train, y_train)

### Check the `value_counts` for the resampled target.

In [33]:
y_resampled.value_counts()

0    211982
1    211982
Name: TARGET, dtype: int64

### Create and fit a `RandomForestClassifier` to the resampled training data.

In [34]:
# Fit the RandomForestClassifier on the resampled data
from sklearn.ensemble import RandomForestClassifier

model_resampled_rf = RandomForestClassifier()
model_resampled_rf.fit(X_resampled, y_resampled)

# Generate predictions based on the resampled data model
rf_resampled_predictions = model_resampled_rf.predict(X_test)

##Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [35]:
# Print the balanced_accuracy score of the model 
resampled_score = balanced_accuracy_score(y_test, rf_resampled_predictions)

print(f'The accuracy score for the prediciton is :', resampled_score*100)

The accuracy score for the prediciton is : 51.794408697461535

In [109]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, rf_resampled_predictions)

array([[66904,  3788],
       [ 5629,   554]])

In [110]:
print(f"Classifiction Report - Redsampled Data - SMOTEENN")
print(classification_report(y_test, rf_resampled_predictions))

Classifiction Report - Redsampled Data - SMOTEENN
              precision    recall  f1-score   support

           0       0.92      0.95      0.93     70692
           1       0.13      0.09      0.11      6183

    accuracy                           0.88     76875
   macro avg       0.52      0.52      0.52     76875
weighted avg       0.86      0.88      0.87     76875

In [111]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)